<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WifKey" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netPeerTcpBinding>
        <binding name="Wimpy">
          <resolver mode="Pnrp" />
          <security mode="None">
            <transport credentialType="Password" />
          </security>
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.p2p://Chat" binding="netPeerTcpBinding"
          bindingConfiguration="Wimpy" contract="Bitpoker.WPFClient.Clients.IChatBackend"
          name="ChatEndpoint" kind="" endpointConfiguration="">
        <!--<identity>
          <certificateReference storeName="My" storeLocation="LocalMachine"
              x509FindType="FindBySubjectDistinguishedName" />
        </identity>-->
      </endpoint>
    </client>
    <services>
      <service name="Bitpoker.WPFClient.Clients.ChatBackend">
        <endpoint address="net.p2p://Chat" binding="netPeerTcpBinding"
            bindingConfiguration="Wimpy" name="Chat" contract="Bitpoker.WPFClient.Clients.IChatBackend" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>