
@{
    ViewBag.Title = "Home";
}

<div class="row col-md-12">
       
    <div class="row col-md-3">Message</div>
    <div class="row col-md-3">Content</div>
    <div class="row col-md-3">Transaction ID</div>


</div>

