
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
        <th>
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            1 BTC = 10,000
        </td>
        <td>
            First 1,000,000 sold
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>
