@model BitPoker.MVC.Models.Order

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- START HEADER -->
<section id="header">
    <div class="container">
        <h1>BitPoker ICO</h1>

        <div class="row">

            <div class="col-md-10">
                <p><a href="http://coloredcoins.org/explorer/asset/Ua9V5JgADia5zJdSnSTDDenKhPuTVc6RbeNmsJ>">10million Colour Coin</a> tokens have been created to raise funds for the development of the project.  5million have been allocated for general sale to the public.  The remaining 5million are reserved for founders, developers and others contributing to the project.</p>

                <p>
                    First 1,000,000 tokens will be sold the rate of 1 BTC = 100,000 tokens
                </p>
                <p>
                    1,000,001 to 2,000,000 sold 1 BTC = 50,000 tokens
                </p>

                <p>
                    2,000,001 to 3,000,000 sold 1 BTC = 25,000 tokens
                </p>

                <p>
                    3,000,001 to 5,000,000 sold 1 BTC = 12,500 tokens
                </p>
            </div>
        </div>

        <hr />

        <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Buy!" class="btn btn-primary" />
                    </div>
                </div>

                @*<div class="form-group">
                        <div class="col-md-2">
                            <input type="submit" value="Buy!" class="btn btn-primary" />
                        </div>
                    </div>*@
            </div>
        }
        </div>
    </div>

    <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXT READABLE -->
    <div id="layer"></div>
    <!-- END LAYER -->
    <!-- START SLIDER -->
    <div id="slider" class="rev_slider">
        <ul>
            <li data-transition="slideleft" data-slotamount="1" data-thumb="/Images/aceofspades.jpg"><img src="/Images/aceofspades.jpg"></li>
        </ul>
    </div>
    <!-- END SLIDER -->
</section>