
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>ICO Tokens will be issued via the bitcoin blockchain using the Open Asset / Colour Coin protocol.  A total of 5,000,000 tokens will be generally avalbile for sale.  The other 5,000,000 will be used to reward developers and other project contributors.</p>

<table class="table">
    <tr>
        <th>
            Rate
        </th>
        <th>
            Teir
        </th>
        <th>
    </tr>
    <tr>
        <td>
            1 BTC = 100,000
        </td>
        <td>
            Teir 1: First 1,000,000 sold
        </td>
        <td>
    </tr>
    <tr>
        <td>
            1 BTC = 50,000
        </td>
        <td>
            Teir 2: Second 1,000,000 sold
        </td>
        <td>
    </tr>
    <tr>
        <td>
            1 BTC = 25,000
        </td>
        <td>
            Teir 3: Third 1,000,000 sold
        </td>
        <td>
    </tr>
</table>

<p>Upon bitcoin payment being sent, the total ICO will be calculated and issued to your address.</p>